<div class="footer">
  <div fxLayout.lt-sm="column" fxLayoutAlign="space-around">
      <div fxFlex="20" fxFlexAlign="center">
          <img class="title" src="assets/title.png"/>
        </div>
        <hr class="divider" fxShow="false" fxShow.lt-sm="true">
        <div class="box" fxFlex="20">
          <mat-icon color="primary">location_on</mat-icon>
          <p>Siège social :</p>
          <p>Groupe Atakadoum, GH 2-17, Etage 2</p>
          <p>Sidi Bernoussi - Casablanca.</p>
        </div>
        <hr class="divider" fxShow="false" fxShow.lt-sm="true">
        <div class="box" fxFlex="20">
          <mat-icon color="primary">info_outline</mat-icon>
          <p>R.C : 264887</p>
          <p>Patente : 37957804</p>
          <p>I.F : 14462298</p>
          <p>CNSS : 4575273</p>
        </div>
        <hr class="divider" fxShow="false" fxShow.lt-sm="true">
        <div class="box" fxFlex="20">
          <mat-icon color="primary">phone</mat-icon>
          <p>Tél. : +(212) 05 22 75 11 32</p>
          <p>Fax. : +(212) 05 22 75 11 33</p>
          <p>GSM : +(212) 06 61 97 87 98</p>
          <p>Email : info@alfou.net</p>
        </div>
  </div>
  <div class="logo">
      <mat-divider></mat-divider>
      <img src="favicon.ico">
      <p>Copyright © Alfou-sécurité 2018</p>
      <p></p>
  </div>
</div>
