<form #f="ngForm" (ngSubmit)="onSubmit(f)" fxLayout="column" fxLayoutAlign="space-around center">
  <h1 mat-dialog-title>Se connecter</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput name="email" ngModel placeholder="E-mail" required>
      <mat-icon matSuffix>person</mat-icon>
      <mat-error>Champ obligatoire</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [type]="hide ? 'password' : 'text'" matInput name="password" ngModel placeholder="Mot de passe" required>
      <mat-icon (click)="hide = !hide" matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Champ obligatoire</mat-error>
    </mat-form-field>
  </div>
  <div fxLayout fxLayoutAlign="space-around center" fxLayoutGap="10px" mat-dialog-actions>
    <button mat-dialog-close mat-raised-button>Annuler</button>
    <button [disabled]="!f.valid" mat-raised-button type="submit">Ok</button>
    <mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
  </div>
</form>
