.section1 {
    background-color: rgb(255, 23, 68, .8);
    padding: 30px 10px 30px 10px;
    color: white;
}

.section2 {
    background-color: rgb(41, 98, 255, .8);
    padding: 30px 10px 30px 10px;
    color: white;
}

.section3 {
    background-color: rgb(0, 200, 83, .8);
    padding: 30px 10px 30px 10px;
    color: white;
}

img {
    width: 80%;
}

mat-divider {
    width: 80%;
    border-top-width: 2px;
}

li {
    margin-bottom: 10px;
}

.section1 ul {
    margin-top: 20px;
}

.section2 ul {
    margin-top: 0px;
}

.section2 h3 {
    margin-top: 10px;
}

.section2 p {
    text-align: center;
}

mat-divider {
    margin-bottom: 10px;
}

h3 {
    text-align: center;
}
