<div class="section1" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
  <img fxFlex="40" src="/assets/sec.png"/>
  <div fxFlex="55" fxLayout="column" fxLayoutAlign="space-around center">
    <h1><mat-icon>star_rate</mat-icon> Sécurité <mat-icon>star_rate</mat-icon></h1>
    <h3>Pour assurer la sécurité de vôtre</h3>
    <ul>
      <li>Bureau et entreprise</li>
      <li>Banque et point de service</li>
      <li>Super marché et points de ventes</li>
      <li>Maison, villa et résidence ...</li>
    </ul>
    <mat-divider></mat-divider>
    <h3>Alfou met à vôtre disposition des expert en domaine de sécurité</h3>
    <ul>
      <li>Des gents sportifs, fidéle et compréhensifs</li>
      <li>Installation des objets de sécurité</li>
      <li>Des caméras de bonne qualité ...</li>
    </ul>
  </div>
</div>
  
<div class="section2" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
  <img fxFlex="40" fxFlexOrder.gt-xs="2" src="/assets/clean.png"/>
  <div fxFlex="55" fxLayout="column" fxLayoutAlign="space-around center">
    <h1><mat-icon>star_rate</mat-icon> Néttoyage <mat-icon>star_rate</mat-icon></h1>
    <h3>Néttoyage des bureaux</h3>
    <ul>
      <li>Pharmacie, Banque, Avocat, Medcin ...</li>
    </ul>
    <h3>Néttoyage des maisons</h3>
    <ul>
      <li>Nouveaux résidences</li>
      <li>Après démenagement ...</li>
    </ul>
    <h3>Néttoyage des sites d'entreprise</h3>
    <ul>
      <li>Entrepôts, Dépôts, Magasins ...</li>
    </ul>
    <mat-divider></mat-divider>
    <h3>Un ensemble d'équipe à vôtre service pour rendre vôs sites propre</h3>
    <p>Hommes et femmes de ménage fidèles et sérieux certifiés par Alfou</p>
  </div>
</div>

<div class="section3" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
  <img fxFlex="40" src="/assets/garden.png"/>
  <div fxFlex="55" fxLayout="column" fxLayoutAlign="space-around center">
    <h1><mat-icon>star_rate</mat-icon> Jardinage <mat-icon>star_rate</mat-icon></h1>
    <h3>Pour planter ou rendre vôtre jardin de </h3>
    <ul>
      <li>Maison, Villa, Entreprise, Plateforme ...</li>
    </ul>
    <h3>propre et vivant</h3>
  </div>
</div>
