.header {
    color: white;
    background-image: url("/assets/header.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;
}

.menu {
    padding: 15px 15px 15px 0;
}

.menu a {
    font-size: 20px;
}
