.header {
    color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.menu {
    padding: 15px 15px 15px 0;
    position: absolute;
    width: 100%;
}

.menu a {
    font-size: 20px;
}

img {
    width: 25vh;
}

h2 {
    margin-bottom: 0px;
}

i {
    font-weight: normal;
}

.contact {
    font-size: 16px;
    margin-top: 20px;
    height: 45px;
    display: inline-flex;
    align-items: center; 
}
