<mat-card id="contact" fxLayout="column" fxLayoutAlign="space-around">
    <mat-card-header fxLayout fxLayoutAlign="center">
      <mat-card-title fxLayout fxLayoutAlign="space-around center">
        <h2>Envoyez-nous un méssage</h2>
        <mat-progress-spinner *ngIf="loading" [diameter]="30" mode="indeterminate"></mat-progress-spinner>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div fxLayout.lt-sm="column" fxLayoutAlign="space-around space-around">
          <mat-form-field fxFlex="45">
              <input matInput name="name" ngModel placeholder="Nom & prénom" required>
              <mat-icon matSuffix>person</mat-icon>
              <mat-error>Ce champ est obligatoire</mat-error>
            </mat-form-field>
    
            <mat-form-field fxFlex="45">
              <input email matInput name="email" ngModel placeholder="Email" required>
              <mat-icon matSuffix>alternate_email</mat-icon>
              <mat-error *ngIf="f.controls['email']?.hasError('required')">Ce champ est obligatoire</mat-error>
              <mat-error *ngIf="f.controls['email']?.hasError('email')">Email doit être correct</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout.lt-sm="column" fxLayoutAlign="space-around space-around">
          <mat-form-field fxFlex="45">
            <mat-select name="service" ngModel placeholder="Service">
              <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
              </mat-option>
            </mat-select>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
    
          <mat-form-field fxFlex="45">
            <input matInput name="subject" ngModel placeholder="Sujet" required>
            <mat-icon matSuffix>subject</mat-icon>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="center">
          <mat-form-field fxFlex="95" fxFlex.lt-sm="100">
            <textarea matInput name="comment" ngModel placeholder="Votre message" required rows="5"></textarea>
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout fxLayoutAlign="center">
          <re-captcha #captchaControl="ngModel"
              siteKey="6LcBTIcUAAAAAD0--s0ykYDslCc8Xvo9231QzbHl"
              ngModel required name="captcha">
            </re-captcha>
        </div>
        <div fxLayout fxLayoutAlign="center">
            <button fxFlex="50" fxFlex.lt-sm="100" 
              [disabled]="!f.valid || !captchaControl.valid" 
              color="primary" mat-raised-button type="submit">Envoyer</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>