button {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

mat-progress-spinner {
  margin-left: 20px;
}

h2 {
  text-align: center;
}

mat-card {
  background-color: rgb(255, 255, 255, .7)
}
